@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Train+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

body {
    -webkit-tap-highlight-color: transparent;
    @apply text-gray-900;
}

h2 {
    @apply w-full text-2xl font-heading text-red-500;
}

h2::after {
    @apply mt-1 mb-6 w-full content-[''] border-b-2 border-red-500 block;
}

.text-stroke-gray-600 {
    -webkit-text-stroke: 0.025rem rgb(75, 85, 99);
    text-stroke: 0.025rem rgb(75, 85, 99);
}
